@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;  /* 白色 */
  --foreground: 0 0% 3.9%;  /* 近黑色 */
}

[data-theme='dark'] {
  --background: 0 0% 3.9%;  /* 近黑色 */
  --foreground: 0 0% 98%;   /* 近白色 */
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
